body {
    background-image: url('../assets/Crypto background.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

header > div {
    display: flex;
    align-items: center;
    width: min-content;
}

.logContainer {
    padding: 4px 10px;
    display: flex;
    gap: 10px;
}

a {
    border: none;
    width: min-content;
    white-space: nowrap;
    padding: 8px 6px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.signIn {
    background-color: #1BEA60;
    font-size: 20px;
}

.signIn:hover {
    background-color: #15b34a;
}

.signUp {
    font-size: 20px;
}

.signUp:hover {
    background-color: rgba(143, 143, 143, 0.709);
}

.logo {
    width: min-content;
    flex-shrink: 0;
}

.logoIcon {
    height: 100%;
    align-self: center;
}